:root {
   --main-color: hotpink;
}

body {
   font-family: "Roboto", sans-serif; 
   background-color: #ffffff;
   color:#434455;
}

a {
   text-decoration: none;
}

.section-one {
   background:#2e2f42;
   text-align: center;
}

.section-one-btn {
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #ffffff;
}

.section-one-tgp{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.section-three-tgp {
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2e2f42;
}


.section-four {
   background-color: #F4F4FD;
}
.email-btn {
   background-color: #4D5AE5;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
}

.email-btn:hover, .email-btn:focus {
   background-color: #404BBF;
}

.h-one { 
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
}

.h-two {
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   font-weight: 500;
}

.paragraph {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

button {
   cursor: pointer;
}

.logo {
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   font-family: "Raleway", sans-serif;
   font-weight: 800;
}

.link {
   text-decoration: none;
}

.span {
   color: #2e2f42;

}

.span-f {
   color: #f4f4fd;

}

.list {
   list-style: none;
}

.nav-btn {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.nav-btn:hover, .nav-btn:focus{
   color: #404bbf;
}

.zaebalo {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.zaebalo:hover, .zaebalo:focus{
   color: #404bbf;
}

.contacts {
   font-style: normal;
}


.b {
   font-size: 16px;
}


.footer {
   background-color: #2e2f42;
}

.footer-paragraph {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#F4F4FD;
}

.list-three {
   background-color: #FFFFFF;
}


.btn-port {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #4d5ae5;
   background-color:  #F4F4FD;
   cursor: pointer
}

.btn-port:hover, .btn-port:focus {
   color: #FFFFFF;
   background-color: #404BBF

}

.h-portfolio {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;

}

.p-portfolio {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}